@import '../base/variables';

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: $primary-font-color;
}

.container {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  outline: 1px solid tomato;
}

.button {
  padding: 8px 16px;
  min-width: 91px;
  height: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border: none;
  border-radius: 8px;

  background-color: $btn-normal-background-color;

  &:hover,
  &:focus {
    background-color: $btn-hover-background-color;
  }
}
