@import '../base/variables';
@import '../base/mixins';

.form {
  @include flex(8px);

  &__input {
    padding: 8px 16px;
    color: $primary-input-font-color;
    border: 1px solid $border-normal-color;
    border-radius: 4px;
    width: 272px;
    height: 40px;
  }
}
